.Image {
    width: 200px;
    height:50px;
}
.ul{
    list-style-type: none;
}
.Qty{
    padding: 16px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
}
.button{
    background-color: transparent;
    color: black;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
}