.Product {
    width: 250px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.Image {
    width: 200px;
    padding: 16px;
    cursor: pointer;
}

.Product:hover,
.Product:active {
    background-color: #C0DDF5;
}

.Name {
    margin: 16px 0;
    color: black;
}