.Sidebar {
    height: 100%;
    left: 0;
    top: 56;
    z-index: 200;
    background-color: darkslategrey;
    padding: 8px 8px;
    transition: transform 0.3s ease-out;
}
.Users {
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #eee;
    color: white;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}
.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}